<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="register-form.ejs">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <h3>User Register</h3>
        <%if (users.length) {%>
        <table class="table mt-2">
            <thead class="thead-dark">
                <tr>
                    <th>First Name</th>
                    <th>Document</th>
                    <th>Date</th>
                </tr>
            </thead>
            <% users.forEach(function(users) { %>
            <tr>
                <td><%= users.name %></td>
                <td><%= users.document %></td>
                <td><%= users.date %></td>
            </tr>
            <%})%>
        </table>
        <%} else {%>
        <p>Not Register</p>
        <%}%>
        <a class="btn btn-primary p-2" href="/register-form">New Register</a>
    </div>
</body>
</html>