<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.ejs">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2 class="text-center">New Register</h2>
            <form method="POST" role="form">
                <div class="form-group">
                    <label for="Name">First Name</label>
                    <input name="name" type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="document">Document Number</label>
                    <input name="document" type="text" class="form-control" placeholder="Document Number">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>